<html>
    <section>
        {% if postagens == null %}
        <span>Não há nenhuma postagem disponível</span>
        {% else %}
            <h1>Postagens:</h1>
            {% for postagem in postagens%}
                <article>
                    <header>
                        <h2><a href="{{link_base}}post&id={{postagem.id}}">{{postagem.titulo}}</a></h2>
                        <p>{{postagem.conteudo}}</p>
                    </header>
                </article>
            {% endfor %}
        {% endif %}
    </section>
</html>