<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar postagem</title>
</head>
<body>
    <p></p>
    <form action="{{link_base}}admin&metodo=update" method="post">
        <span>Titulo</span><br>
        <input value="{{titulo}}" type="text" name="titulo" style="width:100%;height:25px"><br><br>
        <span>Conteudo</span><br>
        <textarea name="conteudo" cols="30" rows="10" style="width:100%;resize:none;">{{conteudo}}</textarea><br><br>
        <input type="hidden" name='id' value="{{id}}">
        <input type="submit" value="Modificar postagem">
    </form>
    
</body>
</html>