<h1>Sobre</h1>
<p>Este é um projeto para testar comentários salvos e carregados diretamente do banco de dados, com um padrão de projeto MVC (Model, View Controller), 
    com PHP utilizando o pacote "Twig" para incluir dados do PHP em meio aos documentos HTML</p>
<br>
    <p>Uma das principais vantagens desse padrão de projeto "MVC" é a separação de responsabilidades pelo código, permitindo diferenciar com mais facilidade 
    tanto pontos sobre acessos ao banco de dados (Model), a comunicação com as interfaces (camada view) e também a lógica de negócios (camada Controller).
</p>